.card {
  margin-bottom: 1rem;

  .card-content {
    display: flex;
    align-items: center;

    .actions {
      display: flex;
      justify-content: flex-end;
      margin-left: auto;
      gap: 8px;
    }
  }
}