.toolbar {
    display: flex;
    justify-content: center;
}

.container {
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 20px;

    .content-container {
        width: 100%;
        max-width: 1200px;
    }
}